{% extends skin_template_path('normal_gadget.html.twig') %}

{% block caption %}{{ gadget.caption }}{% endblock %}
{% block content %}
{% if not creatable %}
<p class="error">You cannot have a permission for create new forum to this group.</p>
{% else %}
{% if group %}
<form action="{{ path('_forum_group_create', {'gadget': gadget, 'group': group}) }}" method="post">
{% else %}
<form action="{{ path('_forum_create', {'gadget': gadget}) }}" method="post">
{% endif %}
{{ form_widget(form) }}
<input type="submit">
</form>
{% endif %}
{% endblock %}
